.wrappercontainer {
  display: inline-flex;
  justify-content: wrap;
  padding: 0.5em 0.5em

}



.wrapper {

  margin: 20px;
  border: 3px solid #333;
  background-color: #c0c3eb;
  font-size: 12px;
  object-fit: contain;
  text-align: center;
  padding: 1em;

}



.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.contentwrapper {
  margin: 10px;
  border: 3px solid #333;
  background-color: #2432f052;
  font-size: 12px;
  object-fit: contain;
  text-align: center;
}

